:root {
  --text-color: #434455;
  --main-color: #f4f4fd;
  --accent-color: #404bbf;
  --link-color: #2e2f42;
}
html {
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* Скидання стилів */
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}
.link {
  text-decoration: none;
  display: flex;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--link-color);
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
.conteiner {
  display: flex;
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.conteiner-first-section {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner-section {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner-last-section {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.conteiner-title {
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-top: 32px;
}
.conteiner-filter {
  margin-left: auto;
  margin-right: auto;
  width: 1128px;
  padding-right: 15px;
  padding-left: 15px;
}

/* Логотип */
.page-header {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e7e9fc;
}
.logotype-item {
  color: var(--link-color);
}
.logotype {
  font-weight: 800;
  cursor: pointer;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;

  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.logotype:hover,
.logotype:focus {
  color: var(--accent-color);
}
/* Список */
.menu-link:hover {
  color: var(--accent-color);
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--link-color);

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Навігація */
.navigation {
  display: flex;
}
.address {
  justify-content: flex-end;
  align-items: center;
}
.phone-number {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 40px;
}
.mail-post:hover {
  color: var(--accent-color);
}
.mail-post {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  padding-top: 24px;
  padding-bottom: 24px;
  margin-left: 332px;
}

/* Кнопки */
.button {
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: #4d5ae5;
  color: #ffffff;

  min-width: 110px;
  border-radius: 4px;
  border-color: #4d5ae5;
  text-align: center;
  margin-top: 48px;
  padding: 16px 32px;
}
.button-filters {
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--main-color);
  color: #4d5ae5;

  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}
.list-button {
  margin-bottom: 72px;
  justify-content: center;
  flex-direction: row;
  padding: 0px;
}
.list-button .list-item-filter {
  margin-left: 24px;
}
.list-button .list-item-filter:first-child {
  margin-left: 0px;
}

.button-filters:hover {
  color: var(--main-color);
  background: var(--accent-color);
}
/* Головна */
.page-hero{
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--link-color);
}
.hero {
  width: 1440px;


  text-align: center;

}
.hero-title {

  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #ffffff;

  margin: 0px auto;
  text-align: center;
  width: 496px;
}
.page-first-section{
  padding-top: 120px;
  padding-bottom: 60px;
}
.page-section{
padding-top: 60px;
padding-bottom: 60px;
}
.page-last-section{
  padding-top: 60px;
  padding-bottom: 120px;
}
.page-filter{
  padding-top: 96px;
  padding-bottom: 120px;
}
/* Текст */
.title {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--link-color);
  margin: 0px;
  text-align: center;
  margin-bottom: 72px;
}
.title-item-position {
  font-size: 40px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--link-color);
  margin: 0px;
  padding-bottom: 8px;
}

.suptitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0px;
  
}
.suptitle-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0px;
}
.title-position {
  width: 264px;
}
.list-position {
  column-gap: 24px;
}

.title-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  margin: 0px;
}
.title-last-section {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--link-color);

  margin: 0px;
  text-align: center;
}
.list-photo-item {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.list-position-last-section {
  margin-top: 72px;
  column-gap: 24px;
}
.footer-subtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;

  width: 264px;
  margin: 0;
}
.logotype-item-footer {
  color: var(--main-color);
}
.title-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin: 0;
  padding-bottom: 8px;
}
.list-workers{
  background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.workers{
padding: 32px 16px;
border-radius: 0px 0px 4px 4px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);

  margin: 0px;
}
.list-photo {
}

.list-item {
  width: 360px;
}
.menu-list {
  display: flex;
}
.menu-list .menu-item + .menu-item {
  margin-left: 40px;
}
.footer-section{
    background-color: var(--link-color);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer{
width: 1128px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logotype-footer{
  font-weight: 800;
  cursor: pointer;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;

  width: 115px;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}

